@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --topaz: #fec887;
  --isabelline: #f6f2eb;
  --lexend: "Lexend", sans-serif;
  --mango-tango: #e57b1e;
  --earth-yellow: #ecb067;
  --transition-1: ease-in-out all 0.3s;
  --black: #000;
  --white: #fff;
  --blue: #1213e5;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none;
}
body {
  height: calc(100vh - 5rem);
  width: 100%;

  margin-top: 5rem;
  font-family: var(--lexend);
  -webkit-user-select: none; /* Disable selection for WebKit browsers */
  -moz-user-select: none; /* Disable selection for Firefox */
  -ms-user-select: none; /* Disable selection for Microsoft Edge */
  user-select: none; /* Disable selection for all other browsers */
}
header {
  height: 5rem;
  width: 100%;

  position: fixed;
  top: 0;

  border-bottom: solid 3px var(--topaz) !important;
  background-color: var(--isabelline);
}
content {
  width: 100%;
  cursor: default;
}
.section {
  display: block;
  background-color: var(--isabelline);

  width: 100%;
  min-height: 100%;
}
.ddown-hire,
.ddown-apply {
  display: flex;
  flex-direction: column;
  background-color: var(--white);

  position: absolute;
  top: 3.25rem;
  display: none;
}
.ddown-hire a,
.ddown-apply a {
  color: var(--black);
  text-wrap: nowrap;
}
.ddown-hire a:hover,
.ddown-apply a:hover {
  background-color: var(--topaz);
}
#hire-now-link:hover .ddown-hire,
#apply-now-link:hover .ddown-apply {
  display: flex;
}
.link {
  font-weight: 500;
}
.link iconify-icon {
  font-size: 1rem;
  color: var(--mango-tango);
}
.link:hover {
  color: var(--mango-tango);
  cursor: pointer;
  transition: var(--transition-1);
}
.login-btn {
  background-color: var(--topaz);
  justify-self: end;
  color: var(--black);
  border: solid 3px var(--topaz);
  transition: var(--transition-1);
}
.login-btn:hover {
  color: var(--mango-tango);
  border-color: var(--mango-tango);
  transition: var(--transition-1);
  background-color: var(--isabelline);
}
.hamburger {
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
home .cta {
  font-size: 4rem;
}
home .cta span {
  color: var(--mango-tango);
}
home .sub-cta {
  font-size: 1rem;
}
.search-the-hub {
  background-color: var(--white);
  width: fit-content;
}
.search-the-hub iconify-icon {
  font-size: 1.5rem;
}
.search-the-hub input {
  border: none;
  width: 20rem;
}
.search-the-hub button {
  color: var(--black);
  border: solid 2.5px var(--topaz);
  transition: var(--transition-1);
  background: var(--topaz);
}
.search-the-hub button:hover {
  color: var(--mango-tango);
  border-color: var(--mango-tango);
  transition: var(--transition-1);
  background-color: var(--isabelline);
}
input {
  outline: none;
}
.home-footer {
  height: 15vh;
  background-color: var(--mango-tango);
}
.home-main {
  height: 75vh;
}
.home-footer .left {
  color: var(--white);
}
.home-footer .right a {
  color: var(--white);
  border: solid 3px var(--white);
  transition: var(--transition-1);
  font-weight: 500;
}
.home-footer .right a:hover {
  border-color: var(--black);
  background-color: var(--topaz);
  color: var(--ba);
  transition: var(--transition-1);
}
@media screen and (max-width: 1200px) {
  .section {
    min-height: fit-content;
  }
  .home-footer {
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
    height: fit-content;
  }
  .home-main {
    height: fit-content;
    padding: 3rem;
  }
  .left-1,
  .left-2 {
    text-align: center;
  }
  .left-1 {
    font-size: 1.3rem !important;
  }
}

@media screen and (max-width: 950px) {
  .link,
  .login-btn {
    font-size: 1rem !important;
  }
  .ddown-hire {
    display: flex;
    flex-direction: column;
    background-color: var(--white);

    position: absolute;
    top: 1rem;
    left: 8rem;
    display: none;
  }
  .ddown-apply {
    display: flex;
    flex-direction: column;
    background-color: var(--white);

    position: absolute;
    top: 4rem;
    left: 8rem;
    display: none;
  }
  .hamburger {
    display: block;
    height: fit-content;
  }
  header .links {
    position: absolute;
    z-index: 2;
    flex-direction: column;
    top: 6.5vh;
    left: 10rem;
    background-color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    display: none !important;
  }
  header .links.active {
    position: absolute;
    z-index: 2;
    flex-direction: column;
    top: 6.5vh;
    left: 10rem;
    background-color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    display: flex !important;
  }
  .left-header {
    gap: 1rem !important;
  }
  #apply-now-link:hover .ddown-apply,
  #hire-now-link:hover .ddown-hire {
    display: none;
  }
  #apply-now-link.active .ddown-apply {
    display: flex;
  }
  #hire-now-link.active .ddown-hire {
    display: flex;
  }
  home .cta {
    font-size: 3rem;
  }
  #home-search {
    width: 50vw;
  }
}

@media screen and (max-width: 650px) {
  header .links.active {
    left: 3rem;
    top: 4rem;
  }
  .left-header {
    flex-direction: row-reverse;
  }
}
